@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Bold.woff2') format('woff2'),
        url('YsabeauSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-ExtraBold.woff2') format('woff2'),
        url('YsabeauSC-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Black.woff2') format('woff2'),
        url('YsabeauSC-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-SemiBold.woff2') format('woff2'),
        url('YsabeauSC-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Light.woff2') format('woff2'),
        url('YsabeauSC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Regular.woff2') format('woff2'),
        url('YsabeauSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Medium.woff2') format('woff2'),
        url('YsabeauSC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-Thin.woff2') format('woff2'),
        url('YsabeauSC-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('YsabeauSC-ExtraLight.woff2') format('woff2'),
        url('YsabeauSC-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

